spring:
  main:
    web-application-type: none

  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
    driver-class-name: org.h2.Driver

  batch:
    job:
      names: helloJob
    jdbc:
      initialize-schema: always