spring:
  main:
    web-application-type: servlet

  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: always

  datasource:
    url: jdbc:mysql://localhost:3306/batch_practice?rewriteBatchedStatements=true&useUnicode=true&characterEncoding=UTF-8
    username: root # ?? ?? DB ??
    password: 0000 # ?? ?? DB ????
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create

    show-sql: false

    properties:
        hibernate:
          format_sql: false
          use_sql_comments: false
          jdbc:
            batch_size: 1000
          order_inserts: true
